
<div ng-controller="listaController" class="about_bottom">
    <div class="container">
        <h1 align='center'><strong> Lista De Comentarios </strong></h1>
        <hr>
        <div class="row">
            <div ng-repeat="comentar in comentarios" class="col-md-12 service_box">
                <h2>{{comentar.comentario}}</h2>  
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="comentarios">
    
    <form id="comentar" role="form" class="col-md-offset-1 col-md-14" ng-controller="ComentarioController as comentarioController">
        <div class="form-group">
            <br><br><br>
            <label for="name"> Comentario: </label>
            <br/>
            <textarea ng-model="comentarioController.comentario" rows="5" style="resize: none" name="text_comentario" class="form-group col-md-8 col-sm-11 col-xs-12 ">   
            </textarea>
            <br><br><br><br>
        </div>
        <br/><br/>
        <div class="col-md-offset-6">
            <button type="button" ng-click="comentarioController.saveComentario()" class="btn btn-default"> Comentar </button>
            <a href="#/comentarios">
                <button type="button" class="btn btn-default">Cancelar</button>
            </a>
        </div>
    </form>
</div>