<div class="row">
    <h2><strong>Web Communication App Version 1.0</strong></h2>

    <p>
        <strong>Web Communication App, <br></strong>

        es una aplicacion en la <br>
        cual puede publicarse tareas, <br>
        avisos , hacer preguntas hacia<br>
        los demas, etc.

    </p> 
    <p>
        <br><br><br>
        <strong>Desarrollado por:</strong> <br>
        Guido Cruz Huanca<br>
        Jhosmar Parra<br>
        Ariel Ricaldez<br>
        Gregorio Quintela<br>
        Elvis Vargas<br>
        Ivan Cartagena<br>
    </p> 
</div>