<div class="sigin">
    <h2 class="col-md-offset-2">Vienvenido a <strong>Web Application App</strong></h2>

    <form id='sigin' role="form" class="col-md-offset-3 col-md-3" ng-controller="sigin">

        <div class="form-group">
            <label for="ejemplo_password_1">Usuario</label>
            <input type="text" class="form-control" id="ejemplo_password_1" 
                   placeholder="Nombre de Usuario">
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Contrase&ntilde;a</label>
            <input type="password" class="form-control" id="ejemplo_password_1" 
                   placeholder="Contrasenia">
        </div>
        <button type="submit" class="btn btn-default">Ingresar</button>
    </form>
</div>