<div class="register">
    <h2 class="col-md-offset-3"> <strong>Formulario de Registro</strong></h2>

    <form id="sigin" class="col-md-offset-3 col-md-3" ng-controller="RegisterController as registerCtrl">
        <div class="form-group">
            <label for="name">Nombre: </label>
            <input ng-model="registerCtrl.name" type="text" class="form-control" id="name" 
                   placeholder="Nombres">
        </div>
        <div class="form-group">
            <label for="last_name">Apellido</label>
            <input ng-model="registerCtrl.lastName" type="text" class="form-control" id="last_name" 
                   placeholder="Apellidos">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="registerCtrl.email" type="email" class="form-control" id="email" 
                   placeholder="user@example.com">
        </div>
        <div class="form-group">
            <label for="ussername">Ussername</label>
            <input ng-model="registerCtrl.ussername" type="text" class="form-control" id="ussername" 
                   placeholder="Ussername">
        </div>
        <div class="form-group">
            <label for="password">Contrase&ntilde;a</label>
            <input ng-model="registerCtrl.password" type="password" class="form-control" id="password" 
                   placeholder="Contrase&ntilde;a">
        </div>
        
        <button type="button" ng-click="registerCtrl.saveUser()" class="btn btn-default">Registrar</button>
        
        <a href="#/">
            <button type="button" class="btn btn-default">Cancelar</button>
        </a>
    </form>
</div>